{% extends "layout.html" %}

{% block title %}
    SELL
{% endblock %}

{% block main %}
<form action="/sell" method="post">
        <div class="form-group">
            <select  autofocus class="form-control" name="stock" placeholder="symbol" >
                {% for stock in stocks %}
                <option>{{ stock["stock"] }}</option>
                {% endfor %}
                </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">sell</button>
    </form>

{% endblock %}